USE [SuaseOA]
GO
/****** Object:  Table [dbo].[RoleJurisdiction]    Script Date: 2015/5/20 23:05:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleJurisdiction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JurisdictionCode] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Level] [int] NOT NULL,
	[BeforeId] [int] NOT NULL,
	[JType] [int] NULL,
	[Name] [nvarchar](max) NULL,
	[CreateTime] [datetime] NOT NULL,
	[LastTime] [datetime] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.RoleJurisdiction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[RoleJurisdiction] ON 

INSERT [dbo].[RoleJurisdiction] ([Id], [JurisdictionCode], [Description], [Level], [BeforeId], [JType], [Name], [CreateTime], [LastTime], [IsDelete]) VALUES (1, N'bom10', N'材料列表--呈现', 0, 0, 3, N'材料列表--呈现', CAST(0x0000A416017B75E4 AS DateTime), CAST(0x0000A416017B75E4 AS DateTime), 0)
INSERT [dbo].[RoleJurisdiction] ([Id], [JurisdictionCode], [Description], [Level], [BeforeId], [JType], [Name], [CreateTime], [LastTime], [IsDelete]) VALUES (2, N'bom11', N'材料列表--查询', 1, 1, 3, N'材料列表--查询', CAST(0x0000A416017B75E4 AS DateTime), CAST(0x0000A416017B75E4 AS DateTime), 0)
INSERT [dbo].[RoleJurisdiction] ([Id], [JurisdictionCode], [Description], [Level], [BeforeId], [JType], [Name], [CreateTime], [LastTime], [IsDelete]) VALUES (3, N'bom14', N'材料列表--打印', 1, 1, 3, N'材料列表--打印', CAST(0x0000A416017B75E4 AS DateTime), CAST(0x0000A416017B75E4 AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[RoleJurisdiction] OFF
